<app-navbar></app-navbar>


<div class="container-fluid text-center" style="margin-top: 100px">
  <h3> Choose your package </h3>
</div>
  <div class="container-fluid" >
    <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card normal-ads">
        <div class="card-body">
          <h5 class="card-title">Normal Ads <span class="badge badge-light">Rs. 200</span></h5>
          <p class="card-text">3 days Validity. With supporting text below as a natural lead-in to additional content.</p>
          <a href="/post-new-ad/1" class="btn btn-pink-1"> Click here </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card super-ads">
        <div class="card-body">
          <h5 class="card-title">Super Ads <span class="badge badge-light">Rs. 2000</span></h5>
          <p class="card-text">7 days validity. Tag on the top .With supporting text below as a natural lead-in to additional content.</p>
          <a href="/post-new-ad/2" class="btn btn-pink-1"> Click here </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card vip-ads">
        <div class="card-body">
          <h5 class="card-title ">VIP Ads <span class="badge badge-light">Rs. 10000</span></h5>
          <p class="card-text">1 month validity. Unlimited ads. With supporting text below as a natural lead-in to additional content.</p>
          <a href="/post-new-ad/3" class="btn btn-pink-1"> Click here </a>
        </div>
      </div>
    </div>
  </div>
</div>
