.normal-ads{
  background: radial-gradient(ellipse farthest-corner at right bottom, #ea37fe 0%, #fd31bc 8%, #e7bae1 30%, #e88ec7 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #b463ff 0%, #ff73e8 8%, #f806b1 25%, #8600a8 62.5%, #5d4a1f 100%);
}

.vip-ads{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.super-ads{
  background: radial-gradient(ellipse farthest-corner at right bottom, #ea37fe 0%, #fd31bc 8%, #e7bae1 30%, #e88ec7 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
