<li class="list-group-item category-heading">
  All category
</li>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>
      <img src="https://img.icons8.com/emoji/20/000000/red-heart.png"/> Wish List
    </a>
    <span class="badge bg-pink rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>
      <img src="https://img.icons8.com/emoji/20/000000/couple-with-heart-woman-man.png"/> Personal
    </a>
    <span class="badge bg-pink rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>
      <img src="https://img.icons8.com/emoji/20/000000/briefcase-emoji.png"/>
      Business
    </a>
    <span class="badge bg-pink rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>
      <img src="https://img.icons8.com/emoji/20/000000/lollipop-emoji.png"/>
      Electronics
    </a>
    <span class="badge bg-pink rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>
      <img src="https://img.icons8.com/emoji/20/000000/man-getting-massage.png"/>
      Jobs
    </a>
    <span class="badge bg-pink rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Others
    <span class="badge bg-pink rounded-pill">1</span>
  </li>
</ul>


<!--<li class="list-group-item category-heading mt-3">-->
<!--  Location-->
<!--</li>-->
<!--<form class="d-flex">-->
<!--  <input class="form-control me-2" type="search" placeholder="Location" aria-label="Search">-->
<!--</form>-->
