/*nav bar*/
.navbar-bg{
  background-color: #165BAA;
  background-image: linear-gradient(to bottom right, #A155B9,#F765A3);
}
/*.login-btn{*/
/*  margin-right: 10px;*/
/*}*/
.btn-post-ad{
  margin-right: 10px;
  /*background-color: #ffd6ff;*/
  background-color: white;
}
.btn-my-profile{
  background-color: #A155B9;
}
